actionlib==1.14.0
angles==1.9.13
asgiref==3.8.1
backports.zoneinfo==0.2.1
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
Django==4.2.16
dynamic-reconfigure==1.7.3
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
image-geometry==1.16.2
interactive-markers==1.12.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
laser-geometry==1.6.7
message-filters==1.16.0
python-qt-binding==0.4.4
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.7
sensor-msgs==1.13.1
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
sqlparse==0.5.2
topic-tools==1.16.0
typing-extensions==4.12.2
xacro==1.14.17
